body{
    margin: 0px;
    padding: 0px;
}

.login , .signup{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

#left{
    background-color: #eaf4f4;
    height: 100vh;
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

#login-text{
    color: rgb(109, 109, 109);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 10px 0px;
}

form{
    margin-top: 20px;
}

#right{
    height: 100vh;
}

#right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

